

.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button{
  margin-top: 15px;
  background-color: rgb(9, 115, 115);
  border-radius: 3px;
  width: 80px;
  border: none;
}

.buttonsContainer{
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}